<a href="https://colab.research.google.com/github/aditi0502/Basic_of_python/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
Name="Aditi Shamkant Gatkal"
Roll_No=9183

Lists

In [3]:
A=["Aditi","Shamkant","Gatkal",20,"Student"]
B=["SP College","Autonomous","Sadashiv peth",411030]
print(A)
print(B)

['Aditi', 'Shamkant', 'Gatkal', 20, 'Student']
['SP College', 'Autonomous', 'Sadashiv peth', 411030]

Tupples

In [4]:
a=("Aditi","Shamkant","Gatkal",20,"Student")
b=("SP College","Autonomous","Sadashiv peth",411030)
print(a)
print(b)

('Aditi', 'Shamkant', 'Gatkal', 20, 'Student')
('SP College', 'Autonomous', 'Sadashiv peth', 411030)

In [10]:
print(A[0:3])
print(B[2:3])
print(a[3])
print(b[3])

['Aditi', 'Shamkant', 'Gatkal']
['Sadashiv peth']
20
411030

In [11]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [14]:
print(A)
A1=A.copy()
print(A1)

#Tupples cannot be copied

['Aditi', 'Shamkant', 'Gatkal', 20, 'Student']
['Aditi', 'Shamkant', 'Gatkal', 20, 'Student']

Append

In [13]:
print(B)
B.append("Autonomous")
print(B)

#Tupples cannot be modified

['SP College', 'Autonomous', 'Sadashiv peth', 411030]
['SP College', 'Autonomous', 'Sadashiv peth', 411030, 'Autonomous']

Count

In [16]:
print(A.count("Aditi"))
A.append("Aditi")
print(A.count("Aditi"))

1
2

Delete List

In [17]:
print(A1)
del(A1)
print(A1)

#List A1 is deleted therefore it is showing error

['Aditi', 'Shamkant', 'Gatkal', 20, 'Student']

NameError: ignored

Extend

In [18]:
print(A)
print(B)
A.extend(B)
print(A)

['Aditi', 'Shamkant', 'Gatkal', 20, 'Student', 'Aditi']
['SP College', 'Autonomous', 'Sadashiv peth', 411030, 'Autonomous']
['Aditi', 'Shamkant', 'Gatkal', 20, 'Student', 'Aditi', 'SP College', 'Autonomous', 'Sadashiv peth', 411030, 'Autonomous']

Index

In [20]:
print(B.index("Sadashiv peth"))
print(A.index("Autonomous"))

#If the elements are repeated in the list then index() will provide the index no. of first element

2
7

Sort

In [21]:
K=["D","A","C","B"]
print(K)
K1=[4,2,1,3]
print(K1)
K.sort()
K1.sort()
print(K)
print(K1)

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [22]:
print(K[:2])
print(K1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested list

In [23]:
ABlist=["Aditi","SP COllege",[20,411030]]
print(ABlist)
print(ABlist[2])

['Aditi', 'SP COllege', [20, 411030]]
[20, 411030]