<a href="https://colab.research.google.com/github/aditi0502/Basic_of_python/blob/main/python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# data types in python
#text data or string data
x,y,z= 5,"Good day!","global"
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

#string must be in single or double quote

5
<class 'int'>
Good day!
<class 'str'>
global
<class 'str'>

There are 3 numeric types in python:

1.int 2.float 3.complex

In [ ]:
a = 2  #int
b = 2.5  #float
c = 1j  #complex
#check type

In [ ]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#convert from int to float
A=float(a)

#convert float to int
B=int(b)

#convert int to complex
C=complex(c)

print(A)
print(type(A))

print(B)
print(type(B))

print(C)
print(type(C))

2.0
<class 'float'>
2
<class 'int'>
1j
<class 'complex'>

In [ ]:
#Assign string to variable
a= 'Statistics'
print(a)

#multiple strings
b="Science"
print(b)

#three single quotes
c='I love Statistics'
print(c)

Statistics
Science
I love Statistics

In [ ]:
x="Hi how are you?   from where their."
print(x.strip()) #Remove whitespace from beginning to end
print(x.lower()) #returns the string in lower case
print(x.upper()) #returns the string in upper case
print(x.replace("o","J"))  #replace string with another string
print(x.split("o")) #split string into substrins

Hi how are you?   from where their.
hi how are you?   from where their.
HI HOW ARE YOU?   FROM WHERE THEIR.
Hi hJw are yJu?   frJm where their.
['Hi h', 'w are y', 'u?   fr', 'm where their.']